
<section class="game_rules">
<h2 class="game_rules_title">Game rules</h2>
<p class="game_rules_greeting">Hello little friend, welcome to this simple but fun game. Before you start to play, please, read the game's rules carefully!</p>
<ol class="game_rules_list">
    <li>The firts you will see a field with cards that upside-down</li>
    <li>Your should find a card with the same pictures for 1 minutes</li>
    <li>You can turn two cards one by one by clicking on them</li>
    <li>If you find the same card you get 1 score, if you find all cards for 1 minutes - you win</li>
    <li>If you don't, please, don't be upset and try again.</li>
    <li>Are you ready?</li>
</ol>
<button class="game_rules_button-go">Go</button>
</section>