.game_rules{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow:  0 10px 20px 2px rgba(0,0,0,0.2);
}

.game_rules_title{
    margin-bottom: 30px;
    text-align: center;
    font-size: 3rem;
    font-family: 'Acme', sans-serif;
    word-spacing: 20px;
    color: rgba(221, 60, 173, 0.9);
}

.game_rules_greeting{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 30px;
    font-family: 'Acme', sans-serif;
    font-size: 1.6rem;
    text-align: left;
    color:  rgba(34,193,195,1);
    letter-spacing: 2px;
    word-spacing: 10px;
}

.game_rules_list{
    width: 90%;
    margin-left: 5%;
    font-family: 'Acme', sans-serif;
    font-size: 1.6rem;
    text-align: left;
    color: rgba(34,193,195,1);
    letter-spacing: 2px;
    word-spacing: 10px;
}

.game_rules_list li:last-child{
    margin-top: 50px;
    margin-left:-3%;
    list-style: none;
    text-align: center;
}

.game_rules_button-go{
    color: rgba(221, 60, 173, 0.9);
}


@media screen and (max-width: 380px){
    .game_rules{
        width: 100%;
    }
    .game_rules_title{
        margin-bottom: 10px;
    }
    .game_rules_greeting{
        margin-bottom: 10px;
        font-size: 1rem;
    } 
    .game_rules_list{
        font-size: 1rem;
        list-style-position: inside;
    }
    .game_rules_list li:last-child{
        margin-top: 10px;
    }

}

