@import url('../../components/game_plate/game_plate.css');
@import url('../../components/rules_page/rules_page.css');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; 
    position: relative; 
}
.background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/background/bg.png');
    background-position: center;
    background-repeat: repeat;
    background-size: 300px;
    filter: opacity(0.5);
}
header{
    width: 100vw;
    height: 20vh;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(221, 60, 173, 0.7) 0%, rgb(231, 228, 25) 100%);
    box-shadow:  0 10px 20px 2px rgba(0,0,0,0.2);
    z-index: 1;
}
h1{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 4rem;
    color: rgba(34,193,195,1);
    font-family: 'Acme', sans-serif;
    word-spacing: 20px;
   
}

button{
    width: 300px;
    height: 80px;
    border-radius: 20px;
    margin: auto;
    border: none;
    font-size: 2rem;
    font-family: 'Modak', cursive;
    color: rgba(34,193,195,1);
    box-shadow:  0 10px 20px 2px rgba(0,0,0,0.2);
}

button:hover{
    box-shadow: none;
}

main{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.content{
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    top: 10%;
    background-image: url('../images/main.png');
    background-position: center;
    background-size: 360px;
    background-repeat: no-repeat;
}

