<section class="timeCount">
    <h3 class="timeCount_title">Time</h3>
    <p class="timeCount_time">30:00</p>
</section>

<section class="score">
    <h3 class="score_title">Your score</h3>
    <p class="score_count">30</p>
</section>

<div class="cards_conteiner">
        
    <div class="card">
        <div class="card_face prov">a</div>
        <div class="card_back prov2">back</div>
    </div>
    <div class="card">
        <div class="card_face">a</div>
        <div class="card_back">back</div>
    </div>

    <div class="card">
        <div class="card_face">a</div>
        <div class="card_back">back</div>
    </div>

    <div class="card">
        <div class="card_face">a</div>
        <div class="card_back">back</div>
    </div>

    <div class="card">
        <div class="card_face">a</div>
        <div class="card_back">back</div>
    </div>

    <div class="card">
        <div class="card_face">a</div>
        <div class="card_back">back</div>
    </div>

    <div class="card">
        <div class="card_face">a</div>
        <div class="card_back">back</div>
    </div>

    <div class="card">
        <div class="card_face">a</div>
        <div class="card_back">back</div>
    </div>

    <div class="card">
        <div class="card_face">a</div>
        <div class="card_back">back</div>
    </div>

    <div class="card">
        <div class="card_face">a</div>
        <div class="card_back">back</div>
    </div>

    <div class="card">
        <div class="card_face">a</div>
        <div class="card_back">back</div>
    </div>

    <div class="card">
        <div class="card_face">a</div>
        <div class="card_back">back</div>
    </div>

   

</div>