
.cards_conteiner{
    width: 90%;
    height: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(3, 180px);
    grid-gap: 10px;
    justify-content: center;

}

.card{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    position: relative;
    text-align: center;
    transition: 3s;
    perspective: 1000px;
    transform-style: preserve-3d;

}

.card_face{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: 0.2s;
    z-index: 100;
    font-family: 'Modak', cursive;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

.card_back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: 0.2s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    z-index: 10;
    background-color: brown;
}



.cards_back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255); 
    background-color: rgb(10, 6, 46);
    backface-visibility: hidden;
    transition: 3s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    z-index: 10;
   
}

.timeCount{
    width: 250px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.score{
    width: 250px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.timeCount_title, .timeCount_time, .score_title, .score_count{
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-family: 'Acme', sans-serif;
    text-align: center;

}